/* add dotted underline border & help cursor to abbreviations with title attribute */
abbr[title] {
	text-decoration: underline dotted;
	cursor: help;
}
/* use border instead of underline for browsers without support */
@supports not (text-decoration: underline dotted) {
	abbr[title] {
		border-bottom: thin dotted !important;
	}
}
a abbr[title] {
	cursor: inherit;
}
/* do not apply <abbr> rules for claim & language switcher */
.nav-language abbr[title], .claim abbr[title] {
	text-decoration: none;
	border-bottom: none !important;
	cursor: inherit;
}
/* ensure correct quote marks depending on language;
the rules for <q> make sure that quotes in a different language still get the
surrounding language’s quotation marks */
:lang(de), :lang(de) q {
	quotes: "„" "“" "‚" "‘";
}
:lang(en), :lang(en) q {
	quotes: "“" "”" "‘" "’";
}
/* always use quotes for <q> elements */
q::before {
	content: open-quote;
}
q::after {
	content: close-quote;
}
/* class for “list items” within paragraphs (→ teasers) */
.fsphys-inline-li {
	display: list-item;
	list-style-type: square;
	margin-left: 2em;
	margin-top: 0.5ex;
	margin-bottom: 0.5ex;
}
/* eliminate extra space from <br> elements after fsphys-inline-li items */
.fsphys-inline-li + br {
	display: none;
}
.fsphys_error, .main .fsphys_error {
	text-align: center;
	color: #600000;
	background-color: #e0c0c0;
	border: medium solid #a00000;
	padding: 10px;
	float: none;
}
/* office hours table widths */
table.fsphys_oh_table {
	width: 100%;
}
table.fsphys_oh_table th.fsphys_oh_day_col {
	width: 18%;
}

/**********
	fix some mistakes in the central CSS (main.css etc.)
**********/
abbr, p {
	font-style: inherit;
}
.nav-2015 .nav-item a *, .nav-2015 .nav-item strong * {
	display: inline;
}
hr {
	border-color: #09c;
}
/* fixes list item bullets overlapping left-floating images
(see also https://stackoverflow.com/q/710158/595306) */
ol, ul {
	overflow: hidden;
}

