/**********
	stuff which is nice to have in general
**********/
/* add dotted underline border & help cursor to abbreviations with title attribute */
abbr[title] {
	text-decoration: underline dotted;
	cursor: help;
}
/* use border instead of underline for browsers without support */
@supports not (text-decoration: underline dotted) {
	abbr[title] {
		border-bottom: thin dotted !important;
	}
}
a abbr[title] {
	cursor: inherit;
}
/* do not apply <abbr> rules for claim, language switcher and WWU app icon */
.nav-language abbr[title], .claim abbr[title], .wwuapp abbr[title] {
	text-decoration: none;
	border-bottom: none !important;
	cursor: inherit;
}
/* ensure correct quote marks depending on language;
the rules for <q> make sure that quotes in a different language still get the
surrounding language’s quotation marks */
:lang(de), :lang(de) q {
	quotes: "„" "“" "‚" "‘";
}
:lang(en), :lang(en) q {
	quotes: "“" "”" "‘" "’";
}
/* always use quotes for <q> elements */
q::before {
	content: open-quote;
}
q::after {
	content: close-quote;
}
/* use hyphenation */
p, ul, ol, blockquote {
	hyphens: auto;
}
/* but not for abbreviations (usually doesn’t work well);
also disable for navigation, form fields, email addresses and names in contact
details */
abbr, nav, nav *, input, textarea, .e_mail, .p-name {
	hyphens: none;
}

/**********
	fix some mistakes in the central CSS (main.css etc.)
**********/
abbr, p {
	font-style: inherit;
}
.nav-2015 .nav-item a *, .nav-2015 .nav-item strong * {
	display: inline;
}
/* left padding is reduced for currently selected navigation item for some
reason */
.nav-item-main.current {
	padding-left: 15px;
}
/* prevent background overlapping text in navigation on hover */
.nav-2015 a strong:hover {
	background-color: unset;
}
hr {
	border-color: #09c;
}
/* fixes list item bullets overlapping left-floating images
(see also https://stackoverflow.com/q/710158/595306) */
ol, ul {
	overflow: hidden;
}
/* subheadings have *zero* margins for some reason */
div.subhead {
	margin: 1ex 0;
}
/* textarea height is set to 2em in main.css */
.module-content form textarea, .element-content form textarea {
	height: unset;
}
/* horizontal resize allows contents to spill out of containing boxes */
textarea {
	resize: vertical;
}
/* table subhead is only usable as full horizontal row */
th.fsphys_subhead_fix {
	/* same outline as th.subhead */
	outline: 5px solid #e8eaea;
}
th.fsphys_subhead_fix, th.subhead {
	outline-offset: -2px;
}
/* prevent capitalizing contents of <small> (e.g. in table headers) */
small {
	text-transform: none;
}

/**********
	FSPHYS-specific, including some hacks to work around Imperia limitations
**********/
/* style for error messages */
.fsphys_error, .main .fsphys_error {
	text-align: center;
	color: #600000;
	background-color: #e0c0c0;
	border: medium solid #a00000;
	padding: 10px;
	float: none;
	clear: both;
}
.fsphys_error * {
	color: inherit;
}
ul.fsphys_footnotes {
	list-style-type: none;
}
/* class for “pseudo-paragraphs” (→ teasers) */
br.fsphys-par {
	margin-bottom: 1em;
}
/* class for “list items” within paragraphs (→ teasers);
   copied/adapted from main.css for consistency */
.fsphys-inline-li {
	display: list-item;
	list-style-type: square;
	margin-left: 2em;
	margin-top: 0.5ex;
	margin-bottom: 0.5ex;
}
/* eliminate extra space from <br> elements after fsphys-inline-li items */
.fsphys-inline-li + br {
	display: none;
}
/***** CSS for office hours *****/
table.fsphys_oh_table {
	width: 100%;
	hyphens: none;
}
table.fsphys_oh_table th.fsphys_oh_day_col:not(.fsphys_oh_single) {
	width: 18%;
}
/* reduce vertical padding on front page so that news and office hours have
   similar width (main.css has padding: 9px 10px) */
.fsphys_oh_front_page td {
	padding: 5px 10px;
}
.fsphys_oh_no_name {
	color: gray;
}
/***** CSS for member database *****/
table.fsphys_member_committees {
	width: 100%;
}
table.fsphys_member_committees col:first-child {
	width: 40%;
}
table.fsphys_member_committees col:nth-child(2) {
	width: 32%;
}
table.fsphys_member_committees col:nth-child(3) {
	width: 27%;
}
/***** CSS for grade calculator *****
   https://www.uni-muenster.de/Physik.FSPHYS/studieren/notenrechner */
#fsphys_gc_form table {
	width: 100%;
	/* needed to be able to set height on td (?) */
	height: 1px;
}
#fsphys_gc_form table td {
	hyphens: auto;
	/* ensure consistent line height (→ input elements vs. normal text) */
	height: 2em;
	/* reduce vertical padding (main.css has padding: 9px 10px) */
	padding: 4px 10px;
}
#fsphys_gc_form table input {
	min-width: 4em;
	/* input fields make the table cells way too wide without this */
	width: 100%;
}
#fsphys_gc_form table tr.fsphys_gc_indent td:first-child {
	padding-left: 2.5em;
}
#fsphys_gc_form .fsphys_gc_weight {
	text-align: right;
}
/* apply main.css style for input[type=submit|reset|button] outside of forms
and to actual <button>s as well;
also make “new entry” link look like a button using the same style */
a.fsphys_oh_new_entry,
.module-content button, .module-content input[type=submit],
.module-content input[type=reset], .module-content input[type=button],
.element-content button, .element-content input[type=submit],
.element-content input[type=reset], .element-content input[type=button] {
	width: 100%;
	border: 0;
	color: white;
	background-color: black;
	text-transform: uppercase;
	/* from main.css for all input elements */
	height: 2em;
	padding: 3px 7px;
	display: block;
	/* addition over main.css: remove float and set some margins */
	float: none !important;
	margin: 1ex 0;
	/* the following is only added to make to give an <a> (new entry) the same
	defaults as a button */
	cursor: default;
	text-decoration: none;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

