table.fsphys_oh_table {
	width: 100%;
}
/* disable <td> padding so that the <a> elements fill the whole cell */
table.fsphys_oh_table.fsphys_oh_table_edit td {
	padding: 0;
}
/* same padding as in https://www.uni-muenster.de/wwu/css/main.css for <td> */
table.fsphys_oh_table_edit td:not(.editcol) a {
	display: block;
	padding: 9px 10px;
	color: inherit;
	text-decoration: inherit;
}
/* set content of <a> to zero-width space (U+200B) if empty so that its
   content height will be one line height instead of 0 */
table.fsphys_oh_table td a:empty::after {
	content: '\200B';
}
table.fsphys_oh_table td a:hover {
	background-color: #d9ee83;
}
