/* align copyright text left because the corresponding images (member photos)
are also left-aligned */
.content figure.teaserfigure figcaption address {
	text-align: left;
}
/* hide copyright notices in overview because they’re annoying */
.content figure.inline-left figcaption address {
	display: none;
}
/* indent all lines after the first if duties, member timespan or study program
runs over multiple lines */
.h-card span.p-role, .h-card span.p-org, .h-card span.p-organization-unit {
	display: inline-block;
	margin-left: 1em;
	text-indent: -1em;
}

