/*****************************************************************************
	general (reusable) rules
*****************************************************************************/
table.fsphys_edit_table {
	width: 100%;
	/* without a fixed height, elements with height: 100% do not fill the whole
	cell height */
	height: 1px;
}
/* edit column in a table */
table td.fsphys_edit_col {
	padding: 0;
	/* without this, the <a> elements do not fill the whole cell height in
	Firefox (not sure if this is a browser bug) */
	height: 100%;
}
table td.fsphys_edit_col * {
	height: 100%;
	margin: 0;
}
/* delete button */
.fsphys_icon, .fsphys_delete {
	font-weight: bold;
}
.fsphys_delete {
	margin: 0;
	/* use same font size as main.css does for checkbox icons */
	font-size: 1.5em;
	/* transition for delete button, same as for cells (<a>) */
	transition: background .1s ease-in;
}
/* delete button (hover, active, focus) */
.fsphys_delete:hover, .fsphys_delete:focus, .fsphys_delete:active {
	background-color: red;
}

/**********
	fix some stuff in the central CSS (main.css etc.)
**********/
th.subhead.fix {
	outline: 0;
}
.module-content form abbr, .element-content form abbr {
	line-height: inherit;
	color: inherit;
	font-weight: inherit;
}
/* apply main.css style for input[type=submit|reset|button] outside of forms
and to actual <button>s as well;
also make “new entry” link look like a button using the same style */
a.fsphys_oh_new_entry,
.module-content button, .module-content input[type=submit],
.module-content input[type=reset], .module-content input[type=button],
.element-content button, .element-content input[type=submit],
.element-content input[type=reset], .element-content input[type=button] {
	width: 100%;
	border: 0;
	color: white;
	background-color: black;
	text-transform: uppercase;
	/* from main.css for all input elements */
	height: 2em;
	padding: 3px 7px;
	display: block;
	/* addition over main.css: remove float and set some margins */
	float: none !important;
	margin: 1ex 0;
	/* the following is only added to make to give an <a> (new entry) the same
	defaults as a button */
	cursor: default;
	text-decoration: none;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
/* fix checkbox/radio implementation */
/* This is the crucial change! Do not completely remove using display: none,
but leave the checkbox/radio focusable so it can still receive keyboard events.
*/
.module-content form:not(#ie) input[type=checkbox],
.module-content form:not(#ie) input[type=radio],
.element-content form:not(#ie) input[type=checkbox],
.element-content form:not(#ie) input[type=radio] {
	display: inherit;
	position: absolute;
	opacity: 0;
	/* ensure that the invisible element does not block mouse events such as
	hovering */
	z-index: -1000;
	pointer-events: none;
}
/* input[…]:focus + label  instead of input[…] + label:focus (<label>s cannot
even be focused by default!) */
.module-content form:not(#ie) input[type=checkbox]:focus + label,
.module-content form:not(#ie) input[type=radio]:focus + label,
.element-content form:not(#ie) input[type=checkbox]:focus + label,
.element-content form:not(#ie) input[type=radio]:focus + label {
	background-color: #333;
	border-color: #333;
	color: #fff;
}

/*****************************************************************************
	office hours schedule (edit mode)
	https://sso.uni-muenster.de/Physik.FSPHYS/intern/fs/praesenzplan
*****************************************************************************/
table.fsphys_oh_table_edit {
	margin-bottom: 2ex;
	/* without a fixed height, the <a> elements do not fill the whole cell
	height */
	height: 1px;
}
table.fsphys_oh_table_edit td:not(.fsphys_oh_non_edit) {
	/* disable <td> padding so that the <a> elements fill the whole cell */
	padding: 0;
	/* without this, the <a> elements do not fill the whole cell height in
	Firefox (not sure if this is a browser bug) */
	height: 100%;
}
/* editable table cells */
table.fsphys_oh_table_edit td > a {
	display: flex;
	align-items: center;
	height: 100%;
	color: inherit;
	text-decoration: inherit;
	/* transition for edit cell, same as delete button */
	transition: background .1s ease-in;
	/* FIX for Webkit/Chromium issues with padding and height: 100%; */
	padding: 0;
}
/* same padding as in https://www.uni-muenster.de/wwu/css/main.css for <td> */
table.fsphys_oh_table_edit a .fsphys_oh_webkit-fix {
	padding: 9px 10px;
}
/* editable table cells (hover, active, focus) */
table.fsphys_oh_table_edit td > a:hover,
table.fsphys_oh_table_edit td > a:focus,
table.fsphys_oh_table_edit td > a:active {
	background-color: #d9ee83;
	color: inherit;
}
/* set content of <a> to zero-width space (U+200B) if empty so that its
content height will be one line height instead of 0 */
table.fsphys_oh_table_edit td > a:empty::after {
	content: '\200B';
}

/**********
	settings for edit column in break schedule
**********/
table.fsphys_oh_table_edit td.fsphys_oh_edit_col > div {
	display: table;
	width: 100%;
	height: 100%;
	border-spacing: 0;
	padding: 0;
}
.module-content form:not(#ie) /* needed for enough specificity on <label> */
table.fsphys_oh_table_edit td.fsphys_oh_edit_col > div > *:not(input) {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
	/* FIX for Webkit/Chromium issues with padding and height: 100%; */
	padding: 0;
}
/* same padding as in https://www.uni-muenster.de/wwu/css/main.css for
<button> */
table.fsphys_oh_table_edit button .fsphys_oh_webkit-fix {
	padding: 3px 7px;
}
/* delete button */
table.fsphys_oh_table_edit td.fsphys_oh_edit_col .fsphys_oh_delete {
	cursor: pointer;
	margin: 0;
	/* use same font size as main.css does for checkbox icons */
	font-size: 1.5em;
	font-weight: bold;
	/* transition for delete button, same as for cells (<a>) */
	transition: background .1s ease-in;
}
/* delete button (hover, active, focus) */
table.fsphys_oh_table_edit td.fsphys_oh_edit_col .fsphys_oh_delete:hover,
table.fsphys_oh_table_edit td.fsphys_oh_edit_col .fsphys_oh_delete:focus,
table.fsphys_oh_table_edit td.fsphys_oh_edit_col .fsphys_oh_delete:active {
	background-color: red;
}

