RewriteEngine On
RewriteBase /Physik.FSPHYS

# Redirect HTTP to HTTPS
# default: [R] = [R=temp] = [R=302] (“Found”/“Moved Temporarily”)
# [R=permanent] = [R=301]: “Moved Permanently”
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{SERVER_NAME}%{REQUEST_URI} [R=permanent,L]

# Redirect <…>/index.php, <…>/index.shtml, <…>/index.html to <…>/
RewriteRule ^(.+/)?index\.(php|s?html)$ $1 [R=permanent,END]
# Redirect <…>.php, <…>.html, <…>.shtml to <…> (without file extension)
RewriteRule ^(.+)\.(php|s?html)$ $1 [R=permanent,END]

# Find file with file extension .php, .shtml or .html on the filesystem for a URL
# without file extension
<If "!-d '%{REQUEST_FILENAME}' && !-f '%{REQUEST_FILENAME}'">
	RewriteCond %{REQUEST_FILENAME}.php -f
	RewriteRule ^ %{REQUEST_FILENAME}.php [END]
	RewriteCond %{REQUEST_FILENAME}.shtml -f
	RewriteRule ^ %{REQUEST_FILENAME}.shtml [END]
	RewriteCond %{REQUEST_FILENAME}.html -f
	RewriteRule ^ %{REQUEST_FILENAME}.html [END]
</If>

#=============================================================================
# use mod_substitute to alter the statically generated links (navigation etc.)
# to also use clean URLs

AddOutputFilterByType SUBSTITUTE text/html
Substitute s~/Physik.FSPHYS/([^\s]+/)?index\.(php|s?html)~/Physik.FSPHYS/$1~
Substitute s~/Physik.FSPHYS/([^\s]+)\.(php|s?html)~/Physik.FSPHYS/$1~

#=============================================================================
# URL redirects

# URL for event calendar
Redirect temp /Physik.FSPHYS/termine/kalender \
	/Rektorat/exec/termine.php?layout=toptermin-ergebnis&einrichtungsid=163
Redirect temp /Physik.FSPHYS/en/termine/kalender \
	/Rektorat/exec/termine.php?layout=topterminenglish-ergebnis&einrichtungsid=163&language=english
# URL for study guide
RedirectMatch temp ^/Physik\.FSPHYS/(en/)?studieren/studienfuehrer$ \
	https://xn--studienfhrer-physik-dbc.de/Universität_Münster


# List of URLs which have been changed, leaving the old URL to redirect to the new one
RedirectMatch permanent ^/Physik\.FSPHYS/(en/)?fachschaft/fachschaftler/ehemalige_sammlung(\.html)?$ \
	/Physik.FSPHYS/$1fachschaft/fachschaftler/ehemalige_ab_ss_2012
RedirectMatch permanent ^/Physik\.FSPHYS/(en/)?fachschaft/verteiler_richtlinie(\.html)?$ \
	/Physik.FSPHYS/$1service/verteiler
RedirectMatch permanent ^/Physik\.FSPHYS/(en/)?studieren/bama-tage/(ap|ft|gp|kp|mp|pc|pi|tp|sonder)_2011(\.html)?$ \
	/Physik.FSPHYS/$1studieren/bama-tage/$2
RedirectMatch permanent ^/Physik\.FSPHYS/(en/)?studieren/ersti-woche(/|/index\.html)?$ \
	/Physik.FSPHYS/$1studieren/erstis/woche/
RedirectMatch permanent ^/Physik\.FSPHYS/(en/)?studieren/ersti-woche/u18-eltern(\.html)?$ \
	/Physik.FSPHYS/$1studieren/erstis/u18-eltern
RedirectMatch permanent ^/Physik\.FSPHYS/(en/)?studieren/ersti-wochenende(/|/index\.html)?$ \
	/Physik.FSPHYS/$1studieren/erstis/wochenende/
RedirectMatch permanent ^/Physik\.FSPHYS/(en/)?studieren/ersti-wochenende(/|/index\.html)?$ \
	/Physik.FSPHYS/$1studieren/erstis/wochenende/
RedirectMatch permanent ^/Physik\.FSPHYS/(en/)?fachschaft/fachschaftler(/.*)?$ \
	/Physik.FSPHYS/$1fachschaft/mitglieder$2
RedirectMatch permanent ^/Physik\.FSPHYS/(en/)?intern/intern-physiker(/.*)?$ \
	/Physik.FSPHYS/$1intern/physiker$2

